@model IEnumerable<My_movie_manager.Models.MovieManagerModel.FavouriteUserMovie>

@{
    ViewData["Title"] = "Index";
}

<h1>Favourite movie list</h1>
<br />
<h4>These are the movies you like</h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Change</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">View</a> |
                <a style="color:red" asp-action="Delete" asp-route-id="@item.UserId">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
