@model IEnumerable<My_movie_manager.Models.movieDetails>

@{
    ViewData["Title"] = "MovieList";
}

<h1>Movie list</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Rating
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Released)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Poster)">
                        <img src="@Html.DisplayFor(modelItem => item.Poster)" alt="Movie poster" style="width:70px;height:100px;">
                    </a>
                </td>
                <td>
                    <a asp-action="detail" asp-controller="movie" asp-route-imdbid="@item.imdbID">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Released)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a href="/movie/index">Back to movie index</a>
</div> 

