@model IEnumerable<My_movie_manager.Models.movieDetails>

@{
    ViewData["Title"] = "MovieList";
}

<h1>Movie list</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Rating
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Released)
            </th>
            <th>
                View in detail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.Poster)"><img src="@Html.DisplayFor(modelItem => item.Poster)" alt="Movie poster" style="width:70px;height:100px;">
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                <a asp-action="detail" asp-controller="movie" asp-route-imdbid="@item.imdbID">View</a>
            </td>
            
            <td>
                <a asp-action="addToMyMovieList" asp-route-id="@item.imdbID">Add to my movie list</a>
            </td>
        </tr>
}
    </tbody>
</table>
