@model IEnumerable<My_movie_manager.Models.movieDetails>

@{
    ViewData["Title"] = "MovieList";
}

<h1>MovieList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poster)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Released)
            </th>
            
            <th>
                View in detail
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Released)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            
            <td>
                <a asp-action="" asp-controller="movie" asp-route-id="@item.imdbID">View movie</a>
                @Html.DisplayFor(modelItem => item.imdbID)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.imdbID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.imdbID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.imdbID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
