@model My_movie_manager.Models.movieDetails

@{
    ViewData["Title"] = "MovieDetails";
}

<h1>MovieDetails</h1>

<div>
    <h4>movieDetails</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Poster
        </dt>
        <dd class="col-sm-10">
            <img src=@Html.DisplayFor(model => model.Poster) alt="Movie poster" style="width:150px;height:200px;">
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poster)
        </dt>
        <dd class="col-sm-10">
            <a href=@Html.DisplayFor(model => model.Poster)>View movie poster!</a>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Released)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Released)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Director)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Writer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Awards)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Awards)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Metascore)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Metascore)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imdbRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imdbRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imdbVotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imdbVotes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imdbID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imdbID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DVD)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DVD)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BoxOffice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BoxOffice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Production)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Production)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Response)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Response)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
